header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background: #f8f8f8;
}

.logo {
    color :#f8f8f8
}

.header a {
    color: white;
    text-decoration: none;
    margin-left : 16px;
}

.header a {
      color: white;
      margin-left: 16px;
      text-decoration: none;
}